body{
    padding: 20px;
    background-color: teal;
    color: white;
}

input{
    border: 1px solid red;
    border-radius: 50px;
    height: 25px;
}

label{
    font-family: sans-serif;
    display: inline-block;
    font-size: 25px;
}
textarea{
    display: block;
}